#comments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.comment {
  background-color: rgb(253, 253, 253);
  border: 1px solid rgb(247, 162, 179);
  text-align: center;
  border-radius: 5px;

  padding: 20px;
}
h1 {
  color: crimson;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}
h3 {
  margin: 5px 0px;
  color: rgb(48, 43, 43);
}
h4 {
  color: rgb(196, 116, 116);
}
p {
  margin: 5px 0px;
  color: rgb(156, 156, 156);
}
